body {
    font-family: 'Montserrat';
}

#title {
    background-color: #810000;
    color: white;
}

/*Nav bar*/
.myNav {
    background-color: #ff5722;
}
/*Mobiles*/
/* Portrait and Landscape */
@media (min-device-width: 200px)
and (max-device-width: 1199px)
{

    .navbar-brand {
        font-family: 'Ubuntu';
        font-size: 3rem;
        font-weight: bold;
        padding: 0 15px;
        height: 60px;
        line-height: 60px;
    }

    .navbar-toggle {
        /* (80px - button height 34px) / 2 = 23px */
        margin-top: 23px;
        padding: 9px 10px !important;
    }

    .navbar-toggler-icon {
        font-size: 3rem;
    }

    .navbar-nav {
        margin-left: auto;
    }

    .nav-item {
        padding: 0 1rem;
    }

    .nav-link {
        font-size: 3rem;
    }

}

/*-------------Laptops Navigations-------------*/

/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
{

    .navbar-brand {
        font-family: 'Ubuntu';
        font-size: 2.5rem;
        font-weight: bold;
        padding: 0 15px;
        height: 60px;
        line-height: 60px;
    }

    .navbar-toggle {
        /* (80px - button height 34px) / 2 = 23px */
        margin-top: 23px;
        padding: 9px 10px !important;
    }

    .navbar-nav {
        margin-left: auto;
    }

    .nav-item {
        padding: 0 1rem;
    }

    .nav-link {
        font-size: 1.2rem;
    }
}


h1 {
    font-weight: 900;
    font-size: 5rem;
    line-height: 1.3;
}

h2 {
    font-size: 3rem;
    font-family: Ubuntu;
    font-weight: bold;
    line-height: 1.5;
}

/*Greeting msg and dog pic*/

.greeting {
    margin: 0;
    padding-right: 20%;
    padding-left: 15%;
}

.greetingmsg {
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
}

.dogpic {
    /*padding-bottom: 0px;*/
    transform: rotate(25deg);
    text-align: center;
}

.dogie {
    padding-top: 5rem;
margin-left: 5rem;
}

.dogie:hover {
    opacity: 0.9;
}

/*download buttons*/
.download-btn {
    margin: 5% 5% 5% 0;
}

/*Website Feature*/

#features {
    padding: 5% 15%;
    text-align: center;
    background-color: white;
    position: relative;
    z-index: 1;
}

.featurepara {
    color: #8f8f8f;
    line-height: 2;
    padding-left: 20%;
    padding-right: 20%;
}

.featureheading {
    font-family: Ubuntu;
    font-weight: bold;
}

.featureshape {
    font-size: 3rem;
    color: #ff5722;
    margin-bottom: 5%;
}

.featureshape:hover {
    color: #dd2c00;
}


/*Testimonial*/

#testimonials {

    text-align: center;
    background-color: #ff5722;
    color: white;
}

.testimonial-image {
    width: 20%;
    border-radius: 100%;
    margin: 5%;
}

.carousel-inner {
    padding: 7% 15%;
}

/*Press*/
#press {
    background-color: #ff5722;
    padding: 5%;
    text-align: center;
}

.press-logo {
    padding-right: 5%;
}

/*Pricing*/
#pricing {
    padding: 5% 10%;
    text-align: center;
}

.listing-info {
    height: 150px;
}

.deck-card {
    margin-top: 5%;
}

.card {
    margin-top: 3%;
}

.card-header {
    background-color: #810000;
    color: white;
}

.card-header:hover {
    background-color: #ff5722;
}

.card-body {
    background-color: #ffe78f;
}

.card-body:hover {
    background-color: #ffd36b;
}

/*Call to Action*/
#cta{
    background-color: #ff5722;
    text-align: center;
}
.ctaText{
    padding: 2% 15%;
    color: white;
}
.logo{
    padding: 5% 1% 1%;
    color: black;
}
#footer{
    text-align: center;
}
.footertext{
    color: gray;
    font-size: smaller;
}
